<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>メーッセージ投稿</h1>
    <p>メッセージ内容</p>
    <form action="/messages" method="POST">
        <input type="text" name="messageContent">
        <input type="submit" value="投稿">
    </form>
</body>
</html>